
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Customer details</h1>
    <p>Name:<%= @user[:name] %></p>
    <p>Email:<%= @user[:email] %></p>
    <p>Tel No.:<%= @user[:number] %></p>
    <p>Details : <%= @user[:enquiry] %></p>
    <p>Thank you </p>
  </body>
</html>