
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to XXX,<%= @user[:name] %></h1>
    <p>
      We have your details, Please wait to be contacted soon.<br>
    </p>
    <p>Thank you for contacting Dreamart.</p>
  </body>
</html>